.btn-redbutton {
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 120%;
  background-image: linear-gradient(#ce6e0c, #F13F07 60%, #D05B15);
}

.btn-redbutton:hover {
  background-image: none;
  background-color: #F13F07;
}

.btn-redbutton.disabled {
  background-image: none;
}

.cnt-header {
  margin: 0 0 0 0 ;
  height: 10%;
}

.cnt-header h1 {
  margin: 0 0 0 0;
  display: inline
}

.form-txt-github-repo {
  padding-bottom: 30px;
}

.txt-version {
  font-weight: bold;
}

.cnt-left {
    height: 90%;
}

.cnt-left-buttons {
  height: 8%;
  padding: 0.9em 0 0 0.3em;
}

code {
  color: #c8c8c8;
  background-color: #484e55;
}

button.close {
  opacity: 0.5;
}

button.close span {
  color: white;
}
