.panel-warning .panel-heading {
  background-color: #D05B15;
}

.cnt-newsfeed {
  height: 90%;
  overflow-y: auto;
  padding-right: 1em;
}

.cnt-newsfeed-filters label {
  font-weight: normal;
}

.cnt-newsfeed-filters {
  background-color: #338433
}

.cnt-newsfeed .panel-info .panel-heading {
  background-color: #459DDE
}

.cnt-newsfeed-filter {
  margin-right: 1em;
}

.newsfeed-entry-author {
  margin-right: 5em;
}

.cnt-newsfeed-entry .panel-body {
   box-shadow: inset 0px -10px 24px 0px rgba(60,60,60,0.7);
}

.cnt-newsfeed-entry.collapsed .panel-body {
  height: 8em;
  overflow: hidden;
}

/*.cnt-newsfeed-entry .panel-body:hover {
  height: auto;
}*/

.cnt-newsfeed-entry-operations {
  width: 100%;
  padding-top: 2.5em;
}

.cnt-newsfeed-entry-operations a {
  margin-left: 0.3em;
  margin-right: 1.5em
}

.cnt-newsfeed-entry-details {
  padding-top: 3em;
}

.cnt-newsfeed-entry table td, .cnt-newsfeed-entry table th {
  padding: 10px;
  border: 1px solid white
}


.cnt-newsfeed-entry pre {
  color: #e6e6e6;
  background-color: #1d1919
}


.cnt-newsfeed .panel-body h2 {
  font-size: 1.8em;
}


.cnt-newsfeed .panel-body h3 {
  font-size: 1.5em;
}

.cnt-newsfeed .more {
  width: 100%;
  text-align: center;
  background-color: rgba(60,60,60,0.7);
  padding-bottom: 0.3%;
  padding-top: 0.1%;
  cursor: pointer;
}


.cnt-newsfeed .cnt-newsfeed-entry.collapsed:hover .panel-body {
  box-shadow: inset 0px -10px 24px 0px rgba(80,80,80,0.7);
}

.cnt-newsfeed .cnt-newsfeed-entry.collapsed:hover .more {
  background-color: rgba(80,80,80,0.7);
}

.cnt-newsfeed-entry-events-summary {
    margin-left: 20%;
    margin-bottom: 1.8em;
}

.cnt-newsfeed-entry-event {
  border: 1px solid black;
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 0.6em;
}

.cnt-newsfeed-entry-event.comments {
  background-color: #2c70da;
  border: 1px solid #3134bb;
}

.cnt-newsfeed-entry-event.pullrequest {
  background-color: #7446ad;
  border: 1px solid #7120c5;
}

.cnt-newsfeed-entry-event.issueclose {
  background-color: #a0230d;
  border: 1px solid #92171b;
}


.jumbotron p {
  padding-top: 10px;
  padding-bottom: 10px;
}
