<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
        <a href="#tab-examplelist" aria-controls="home" role="tab" data-toggle="tab">Try it out with a sample project</a>
    </li>
    <li role="presentation">
        <a href="#tab-customproject" aria-controls="messages" role="tab" data-toggle="tab">Use your own package.json</a>
    </li>
</ul>
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="tab-examplelist">
        <div class="cnt-select">
        <div class="select" tabindex="1">
            <span>vue.js</span>
            <div class="btn-dropdown"></div>
            <ul>
                <li class="option" value="https://raw.githubusercontent.com/vuejs/vue/dev/package.json">vue.js</li>
                <li class="option" value="https://raw.githubusercontent.com/angular/angular/master/package.json">angular 2</li>
                <li class="option" value="https://raw.githubusercontent.com/Netflix/falcor/master/package.json">falcor</li>
                <li class="option" value="https://raw.githubusercontent.com/Reactive-Extensions/RxJS/master/package.json">RxJs</li>
                <li class="option" value="https://raw.githubusercontent.com/expressjs/express/master/package.json">express</li>
            </ul>
        </div>
        </div>
        <div class="cnt-btn-launch">
            <input type="button" class="btn btn-primary btn-launch btn-redbutton" value="Launch DepTrack"/>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="tab-customproject">
        <div class="form-group">
            <div class="error"></div>
            <textarea cols="30" rows="8"
                      id="txt-packagejson-text"
                      class="form-control"
                      placeholder="Just copy-paste your package.json into this box"></textarea>
        </div>
        <div class="cnt-btn-launch-customproject">
            <input type="button" class="btn btn-primary btn-launch-customproject btn-redbutton" value="Launch DepTrack"/>
        </div>
    </div>
</div>
