<div class="cnt-header">
	<img src="./img/logo-scratch-text.png" height="80px" /> 
	<h1><small> ~ keep an eye on your dependencies</small></h1>
	<!-- <h1>DepTrack <small> ~ keep an eye on your dependencies</small></h1> -->
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-4 cnt-left">

		</div>
		<div class="col-lg-8 cnt-newsfeed">

		</div>
	</div>

	<div class="cnt-notification-list" style="display: none">

		<div class="cnt-notification cnt-notification-success">
			<form target="_blank" action="//deptrack.us13.list-manage.com/subscribe/post?u=90b110ad878d24aeadda19983&amp;id=6b56eb8cc9" method="post" id="mc-embedded-subscribe-form">
			<h4>Let's keep in touch <span class="btn-notification-close glyphicon glyphicon-remove-circle"></span></h4>
			<p>
				Subscribe to our newsletter to get notified about DepTrack improvements:
			<div class="form-group">
				<label for="txt-email">Email: </label>
				<input id="txt-email" name="EMAIL" class="form-control" type="text"/>
			</div>
			<input type="submit" class="button btn btn-primary" value="Subscribe"
				   name="subscribe"
				   id="mc-embedded-subscribe"
				   onclick="javascript:_paq.push(['trackEvent', 'User', 'Subscribe']);" />
			</p>
			</form>
		</div>

	</div>
</div>
