<div class="panel-heading">
    {{entity}} {{action}} for <a href="{{entry.githubProjectUrl}}">{{entry.relatedDependency.name}}</a> by
    <a href="{{entry.author.avatarUrl}}">{{entry.author.login}}</a>:
	"{{entry.issueTitle}}"
</div>
<div class="panel-body">
	<span class="newsfeed-entry-author pull-right">
       <img src="{{entry.author.avatarUrl}}" width="32" height="32"/>
       <a href="{{entry.author.githubProfileUrl}}">{{entry.author.login}}</a>
    </span>


    {{{entry.formattedIssueBody}}}

	<div class="cnt-newsfeed-entry-operations pull-right">
		<a href="{{entry.externalLinkUrl}}" target="_blank">View {{entity}}</a>
		<a href="{{entry.githubProjectUrl}}" target="_blank">View Repository</a>
		<span class="pull-right">{{entry.createdFromNow}}</span>
	</div>
</div>
