<div class="panel-heading">
    <h4>{{relatedDependency.name}} {{name}} has been released</h4>
</div>
<div class="panel-body">
    <span class="newsfeed-entry-author pull-right">
       <img src="{{author.avatarUrl}}" width="32" height="32"/>
       <a href="{{author.githubProfileUrl}}">{{author.login}}</a>
    </span>
    {{relatedDependency.name}} <code>{{tagName}}</code> has been
    {{#if isTag}}
        tagged
    {{else}}
        released
    {{/if}}
    .
    Your current version is <code>{{relatedDependency.originalVersion.versionString}}</code>
    ({{noOfNewerReleases}} releases behind).
    <div class="cnt-newsfeed-entry-operations pull-right">
        <a href="{{externalLinkUrl}}" target="_blank">View Release</a>
        <a href="{{githubProjectUrl}}" target="_blank">View Repository</a>
        <span class="pull-right">{{createdFromNow}}</span>
    </div>
</div>
