<p>
<form target="_blank" action="//deptrack.us13.list-manage.com/subscribe/post?u=90b110ad878d24aeadda19983&amp;id=6b56eb8cc9" method="post" id="mc-embedded-subscribe-form">
    <!--<h4>Let's keep in touch <span class="btn-notification-close glyphicon glyphicon-remove-circle"></span></h4>-->
        Subscribe to our newsletter to get notified about DepTrack improvements:
    <div class="form-group">
        <label for="txt-email">Email: </label>
        <input id="txt-email" name="EMAIL" class="form-control" type="text"/>
    </div>
    <input type="submit" class="button btn btn-primary" value="Subscribe"
           name="subscribe"
           id="mc-embedded-subscribe"
           onclick="javascript:_paq.push(['trackEvent', 'User', 'Subscribe']);" />
</form>
</p>
